<div class="icon-container" (click)="onClick.emit($event)" [ngClass]="classes">
    <i class="fa" [ngClass]="iconClass"></i>
    <span class="name" title="{{item.name}}">{{item.name}}</span> <!-- Ellipsis handled in CSS -->
    <ng-container *ngIf="isDocument && documentItem.expiryDate">
        <span class="expiry">Expires: {{documentItem.expiryDate | date: 'shortDate'}}</span>
    </ng-container>
    <ng-container *ngIf="isDocument && documentItem.expiryDate && !documentItem.backupAccountId">
        <button class="backup-btn" (click)="markForBackup($event)">Mark for Backup</button>
    </ng-container>
</div>