/* src/app/components/docs-list/docs-list.component.scss */
@use '../../../../../variable' as *;

:host {
  display: block;
}

/* Grid container for icons */
.grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1rem;
  padding-top: 1rem;
}

/* Mobile dropdown style */
:host ::ng-deep .orderby-select.mobile {
  appearance: none;
  border: none;
  background: transparent;
  font-size: 1rem;
  font-weight: 500;
  color: $primary-color;
  cursor: pointer;
  width: auto;
}

/* Spinner */
.spinner {
  text-align: center;
  padding: 1rem;
  font-size: 1rem;
  color: $secondary-color;
}

.filter-header {
  display: flex;
  align-items: center;
}

/* Mobile: stack header items vertically */
// :host ::ng-deep .mobile.generic-wrapper header {
//   flex-direction: column;
//   align-items: flex-start;
//   gap: 0.5rem;

//   h2 {
//     font-size: 1.2rem;   /* shrink heading */
//     margin-bottom: 0.25rem;
//   }

//   .actions {
//     flex-direction: row;   /* keep buttons side by side */
//     flex-wrap: wrap;       /* allow wrapping if too many */
//     gap: 0.35rem;

//     button span.no-wrap {
//       display: none; /* hide text, keep only icons */
//     }
//   }
// }