<app-layout title="Settings" [isMobile]="appService.isMobile" [isTablet]="appService.isTablet"
    [isDesktop]="appService.isDesktop">
    <h3>Storage Accounts</h3>
    <p class="info">Manage your storage accounts for backups (e.g., Google Drive).</p>
    <button type="button" (click)="addGoogleDriveAccount()" title="Add Google Drive account">
        <i class="fab fa-google"></i> Add Google Drive
    </button>
    <ul class="storage-accounts">
        <li *ngFor="let account of storageAccounts" title="{{ account.label }} ({{ account.provider }})">
            <div class="account-info">
                <span class="account-label">{{ account.label }} ({{ account.provider }})</span>
                <span class="account-date">Added: {{ account.createdAt | date:'shortDate' }}</span>
            </div>
            <div class="account-quota">
                <div class="quota-bar">
                    <div class="quota-used" [style.width]="(account.quota?.usagePercentage || 0) + '%'"></div>
                </div>
                <span class="quota-text">
                    <div class="no-wrap">
                        {{ account.quota?.usagePercentage || 0 }}% Used
                    </div>
                    <div *ngIf="appService.isMobile" class="no-wrap">
                        <br>
                        ( {{ account.quota?.usedBytes | bytesToGB }} GB / {{ account.quota?.totalBytes | bytesToGB }} GB
                        )
                    </div>
                    <div *ngIf="!appService.isMobile" class="no-wrap">
                        ( {{ account.quota?.usedBytes | bytesToGB }} GB / {{ account.quota?.totalBytes | bytesToGB }} GB
                        )
                    </div>
                </span>
            </div>
            <button type="button" class="btn-subtle delete-btn" (click)="deleteStorageAccount(account)"
                [disabled]="loading" title="Delete {{ account.label }}">
                <i class="fa fa-trash"></i>
                <span *ngIf="appService.isDesktop" class="delete-text">Delete</span>
            </button>
        </li>
    </ul>
</app-layout>