<app-layout title="Chats" [selectionMode]="multiSelectMode" [isPopup]="false" [isMobile]="appService.isMobile"
  [isTablet]="appService.isTablet" [isDesktop]="appService.isDesktop" (cancelMultiSelect)="cancelMultiSelect()"
  (swipeRight)="enableMobileMultiSelect()">

  <!-- Always visible actions (all modes) -->
  <ng-container action-always>
  </ng-container>

  <!-- Actions visible only in singular (normal) mode -->
  <ng-container action-singular>
    <select [(ngModel)]="orderBy" (change)="mergeLists(orderBy)" class="orderby-select"
      [ngClass]="{'mobile': appService.isMobile}">
      <option value="name">Name</option>
      <option value="lastMessageDate">Last Message</option>
    </select>
    <button (click)="sync()" [disabled]="loading" title="Sync contacts">
      <i class="fa fa-sync"></i>
      <span class="no-wrap" *ngIf="!appService.isMobile">Sync</span>
    </button>
    <button (click)="openAddContactDialog()" title="Add a new contact">
      <i class="fa fa-user-plus"></i>
      <span class="no-wrap" *ngIf="!appService.isMobile">Add Contact</span>
    </button>
  </ng-container>

  <!-- Actions visible only in multi-select mode -->
  <ng-container action-multiselect>
    <button (click)="deleteSelected()" [disabled]="selectedItems.length === 0" title="Delete selected">
      <i class="fa fa-trash"></i>
      <span class="no-wrap" *ngIf="!appService.isMobile">Delete</span>
    </button>
    <button (click)="openAddContactDialog()" title="Add a new contact">
      <i class="fa fa-user-plus"></i>
      <span class="no-wrap" *ngIf="!appService.isMobile">Add Contact</span>
    </button>
  </ng-container>

  <!-- Body section -->
  <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>

  <div class="chat-list" *ngIf="!loading; else loadingSpinner">
      <app-selectable-row *ngFor="let item of mergedList" [title]="item.name" [description]="item.phoneNumber"
        [isSelectable]="true" [selectionMode]="multiSelectMode" [selected]="isSelected(item)"
        [isDesktop]="appService.isDesktop" [isTablet]="appService.isTablet" [isMobile]="appService.isMobile"
        (selectionChange)="toggleSelect(item, $event)" (rowClick)="rowClick(item, $event)">

        <!-- Projected icon -->
        <i row-icon class="fa" [ngClass]="item.type === 'contact' ? 'fa-user' : 'fa-users'"></i>

        <!-- Row-level actions -->
        <button action-singular class="btn-subtle" (click)="deleteItem(item, $event)" title="Delete">
          <i class="fa fa-trash"></i>
        </button>
        <button action-multiselect class="btn-subtle" (click)="openChat(item, $event)" title="Open Chat">
          <i class="fa fa-comment"></i>
        </button>
      </app-selectable-row>
  </div>

  <ng-template #loadingSpinner>
    <div class="spinner"><i class="fa fa-spinner fa-spin"></i> Loading chats...</div>
  </ng-template>
</app-layout>