<div class="generic-wrapper"
  [ngClass]="{ 'popup': isPopup, 'mobile': isMobile, 'tablet': isTablet, 'desktop': isDesktop }"
  [appSwipeRight]="isMobile || isTablet" (swiped)="swipeRight.emit()">

  <header>
    <h2>{{ title }}</h2>

    <div class="actions">
      <ng-content select="[action-always]"></ng-content>
      <ng-container *ngIf="selectionMode">
        <ng-content select="[action-multiselect]"></ng-content>
        <button class="cancel-btn" (click)="cancelMultiSelect.emit();" title="Cancel selection">
          <i class="fa fa-times"></i>
        </button>
      </ng-container>
      <ng-container *ngIf="!selectionMode">
        <ng-content select="[action-singular]"></ng-content>
      </ng-container>
    </div>

    <!-- Popup close -->
    <button *ngIf="isPopup" class="close-btn" (click)="close.emit()">
      <i class="fa fa-times"></i>
    </button>
  </header>

  <section class="body" [ngClass]="{ 'selection-mode': selectionMode }">
    <ng-content></ng-content>
  </section>
</div>