@use '../../../../variable' as *;

.generic-wrapper {
  background: $background-color;
  height: calc(100vh - 4rem);
  display: flex;
  flex-direction: column;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;

    .actions {
      display: flex;
      gap: 0.5rem;
      align-items: center;
      height: 100%;

      button {
        display: flex;
        align-items: center;
        gap: 0.4rem;
        padding: 0.4rem 0.6rem;
        border-radius: 6px;
        background: $primary-color;
        color: #fff;
        border: none;
        cursor: pointer;
        font-size: 0.875rem;
        white-space: nowrap;

        &:hover {
          opacity: 0.9;
        }

        i {
          font-size: 1rem;
        }
      }

      .cancel-btn {
        margin-left: auto;
        background: $background-color-dark;
        border: none;
        padding: 1.4rem 1rem;
        border-radius: 0px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $light-text-color;
        font-size: 1rem;
        height: 100%;
    
        &:hover {
          opacity: 0.9;
        }
      }
    }

    .orderby-select {
      padding: 0.3rem 0.5rem;
      border-radius: 6px;
      border: 1px solid $secondary-color;
      font-size: 0.85rem;
      background: #fff;
      height: 32px;
    }
  }

  &.popup header {
    padding: 0.5rem 1rem;
    margin-bottom: 0.25rem;
  }

  .body {
    flex: 1;
    overflow-y: auto;

    &.selection-mode {
      border: solid 5px $background-color-dark;
    }
  }
}
