<nav class="main-menu" [ngClass]="{'mobile': isMobile, 'tablet': isTablet, 'desktop': isDesktop}">
    <!-- Mobile: Hamburger menu with slide-in sidebar -->
    <div class="menu-header" *ngIf="isMobile">
        <h2>ChatApp</h2>
        <i class="fa fa-bars menu-icon" (click)="toggleMenu()" title="Toggle menu"></i>
    </div>
    <div class="mobile-menu" *ngIf="isMobile && isMenuOpen" @slideInOut>
        <p class="info">Tap an option to navigate</p>
        <div class="menu-item" routerLink="/chat" routerLinkActive="active" (click)="toggleMenu()" title="Go to chats">
            <i class="fa fa-comments fa-2x"></i>
            <span>Chat</span>
        </div>
        <div class="menu-item" routerLink="/docs" routerLinkActive="active" (click)="toggleMenu()"
            title="Manage documents">
            <i class="fa fa-file fa-2x"></i>
            <span>Documents</span>
        </div>
        <div class="menu-item" routerLink="/settings" routerLinkActive="active" (click)="toggleMenu()"
            title="Customize settings">
            <i class="fa fa-cog fa-2x"></i>
            <span>Settings</span>
        </div>
        <div class="menu-item" (click)="logout()" title="Sign out of your account">
            <i class="fa fa-sign-out fa-2x"></i>
            <span>Logout</span>
        </div>
    </div>

    <!-- Tablet: Top bar with dropdown -->
    <div class="tablet-menu" *ngIf="isTablet">
        <div class="menu-header">
            <h2>ChatApp</h2>
            <i class="fa fa-bars menu-icon" (click)="toggleSubmenu()" title="Toggle navigation menu"></i>
        </div>
        <div class="submenu" *ngIf="isSubmenuOpen" @fadeInOut>
            <p class="info">Select an option</p>
            <div class="menu-item" routerLink="/chat" routerLinkActive="active" (click)="toggleSubmenu()"
                title="Go to chats">
                <i class="fa fa-comments"></i> Chat
            </div>
            <div class="menu-item" routerLink="/docs" routerLinkActive="active" (click)="toggleSubmenu()"
                title="Manage documents">
                <i class="fa fa-file"></i> Documents
            </div>
            <div class="menu-item" routerLink="/settings" routerLinkActive="active" (click)="toggleSubmenu()"
                title="Customize settings">
                <i class="fa fa-cog"></i> Settings
            </div>
            <div class="menu-item" (click)="logout()" title="Sign out of your account">
                <i class="fa fa-sign-out"></i> Logout
            </div>
        </div>
    </div>

    <!-- Desktop: Persistent sidebar -->
    <div class="desktop-menu" *ngIf="isDesktop">
        <h2>ChatApp</h2>
        <p class="info">Navigate to your app features</p>
        <div class="menu-item" routerLink="/chat" routerLinkActive="active" title="Go to chats">
            <i class="fa fa-comments"></i>
            <span>Chat</span>
        </div>
        <div class="menu-item" routerLink="/docs" routerLinkActive="active" title="Manage documents">
            <i class="fa fa-file"></i>
            <span>Documents</span>
        </div>
        <div class="menu-item" routerLink="/settings" routerLinkActive="active" title="Customize settings">
            <i class="fa fa-cog"></i>
            <span>Settings</span>
        </div>
        <div class="menu-item" (click)="logout()" title="Sign out of your account">
            <i class="fa fa-sign-out"></i>
            <span>Logout</span>
        </div>
    </div>
</nav>