<div class="app-wrapper" 
     [ngClass]="{'mobile': appService.isMobile, 'tablet': appService.isTablet, 'desktop': appService.isDesktop}">
    
    <!-- Top Tabs -->
    <div *ngIf="isLoggedIn" class="top-tabs" 
         [ngClass]="{'mobile': appService.isMobile, 'tablet': appService.isTablet, 'desktop': appService.isDesktop}">
        <div 
          *ngFor="let tab of tabs; let i = index"
          class="tab"
          [class.active]="selectedTabIndex === i"
          (click)="onTabClick(i)">
          <i [class]="tab.icon" [title]="tab.label"></i>
          <span class="tab-header-text" *ngIf="!appService.isMobile">{{ tab.label }}</span>
        </div>
    </div>

    <!-- Page Content -->
    <main [ngClass]="{'mobile': appService.isMobile, 'tablet': appService.isTablet, 'desktop': appService.isDesktop}">
        <router-outlet></router-outlet>
    </main>

    <!-- Bottom Tabs (mobile only) -->
    <div *ngIf="isLoggedIn" class="bottom-tabs"
         [ngClass]="{'mobile': appService.isMobile, 'tablet': appService.isTablet, 'desktop': appService.isDesktop}">
        <div 
          *ngFor="let tab of tabs; let i = index"
          class="tab"
          [class.active]="selectedTabIndex === i"
          (click)="onTabClick(i)">
          <i [class]="tab.icon" [title]="tab.label"></i>
          <span class="tab-header-text" *ngIf="!appService.isMobile">{{ tab.label }}</span>
        </div>
    </div>
</div>
