<div class="app-wrapper" [ngClass]="{'mobile': isMobile, 'tablet': isTablet, 'desktop': isDesktop}">
    <mat-tab-group 
        class="top-tabs" 
        [ngClass]="{'mobile': isMobile, 'tablet': isTablet, 'desktop': isDesktop}"
        animationDuration="200ms" 
        [selectedIndex]="selectedTabIndex"
        (selectedTabChange)="onTabChange($event.index)">
        <mat-tab>
            <ng-template mat-tab-label>
                <i class="fa fa-comments" title="Chat"></i>
                <span class="tab-header-text" *ngIf="!isMobile">Chat</span>
            </ng-template>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <i class="fa fa-file" title="Documents"></i>
                <span class="tab-header-text" *ngIf="!isMobile">Documents</span>
            </ng-template>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <i class="fa fa-cog" title="Settings"></i>
                <span class="tab-header-text" *ngIf="!isMobile">Settings</span>
            </ng-template>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <i class="fa fa-user" title="Profile"></i>
                <span class="tab-header-text" *ngIf="!isMobile">Profile</span>
            </ng-template>
        </mat-tab>
    </mat-tab-group>
    <main>
        <router-outlet></router-outlet>
    </main>
    <mat-tab-group 
        class="bottom-tabs" 
        [ngClass]="{'mobile': isMobile, 'tablet': isTablet, 'desktop': isDesktop}"
        animationDuration="200ms" 
        [selectedIndex]="selectedTabIndex"
        (selectedTabChange)="onTabChange($event.index)">
        <mat-tab>
            <ng-template mat-tab-label>
                <i class="fa fa-comments" title="Chat"></i>
                <span class="tab-header-text" *ngIf="!isMobile">Chat</span>
            </ng-template>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <i class="fa fa-file" title="Documents"></i>
                <span class="tab-header-text" *ngIf="!isMobile">Documents</span>
            </ng-template>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <i class="fa fa-cog" title="Settings"></i>
                <span class="tab-header-text" *ngIf="!isMobile">Settings</span>
            </ng-template>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <i class="fa fa-user" title="Profile"></i>
                <span class="tab-header-text" *ngIf="!isMobile">Profile</span>
            </ng-template>
        </mat-tab>
    </mat-tab-group>
</div>