<!-- src/app/features/auth/login/login.component.html -->
<div class="login-wrapper" [ngClass]="{'mobile': appService.isMobile, 'tablet': appService.isTablet, 'desktop': appService.isDesktop}">
    <h2>Sign In to Chat App</h2>
    <p class="info">Use your email or phone number to sign in. Don't have an account? <a routerLink="/auth/signup">Sign
            Up</a></p>
    <form (ngSubmit)="onLogin()">
        <div class="form-group">
            <label for="identifier" title="Enter your registered email or phone number">Email/Phone</label>
            <input id="identifier" [(ngModel)]="credentials.email" required name="phoneOrEmail"
                title="Required for login validation">
        </div>
        <div class="form-group">
            <label for="password" title="Enter your password">Password</label>
            <input id="password" type="password" [(ngModel)]="credentials.password" required name="password"
                title="Password must be at least 6 characters">
        </div>
        <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
        <button type="submit" [disabled]="loading" title="Click to sign in">{{ loading ? 'Logging in...' : 'Login'
            }}</button>
    </form>
    <a routerLink="/auth/forgot-password" title="Reset your password if forgotten">Forgot Password?</a>
</div>