$primary-color: #007bff; // Blue
$secondary-color: #6c757d; // Gray
$accent-color: #28a745; // Green
$warning-color: #ffc107; // Yellow
$danger-color: #dc3545; // Red
$background-color-dark: #adbac5; // Share of gray
$background-color: #f8f9fa; // Light gray
$text-color: #333; // Dark text
$light-text-color: #fff; // White text
$hover-color: #303f9f;
$primary-border: #303f9f;

// ICON Colors
$fa-folder-color: #4a90e2;
$fa-file-pdf-color: #d32f2f;
$fa-file-archive-color: #f4b400;
$fa-file-image-color: #7b1fa2;
$fa-file-excel-color: #388e3c;
$fa-file-powerpoint-color: #d84315;
$fa-file-audio-color: #0288d1;
$fa-file-video-color: #0288d1;
$fa-file-csv-color: #388e3c;
$fa-file-color: #757575;

// WORD ICON
$fa-file-word-color: #ffffff;
$fa-file-word-background: #2b5797;
$fa-file-word-border: #1e88e5;


// Alt / Txt ICON
$fa-file-alt-color: #616161;
$fa-file-alt-background: #ffffff;
$fa-file-alt-border: #757575;